<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dz.musicplayer">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".notification.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MusicPlayer">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service android:name=".service.MusicBoundService" />
        <receiver
            android:name=".receiver.NotificationReceiver"
            android:enabled="true"
            android:permission="TODO">
            <intent-filter tools:ignore="IntentFilterExportedReceiver">
                <action android:name="android.media.browse.MediaBrowserService" />
                <action android:name="ACTION_PREVIOUS" />
                <action android:name="ACTION_PLAY" />
                <action android:name="ACTION_NEXT" />
            </intent-filter>
        </receiver>
    </application>

</manifest>